.popup__title{
    margin: 0;
    font-family: Inter, Arial, Helvetica, sans-serif;
    font-style: normal;
    font-weight: 900;
    font-size: 24px;
    line-height: 29px;
    color: black;
    padding-bottom: 30px;
}


@media screen and (max-width: 750px){
    .popup__title {
        font-size: 18px;
        line-height: 22px;
    }
  }