.footer__copyright{
    margin-top: 66px;
    color: #545454;
    font-family: Inter, Arial, Helvetica, sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 22px;
}

@media screen and (max-width: 750px){
    .footer__copyright {
        margin-top: 48px;
        margin-left: 19px;
        margin-right: 19px;
        margin-bottom: 0;
        font-size: 14px;
        line-height: 17px;        
    }
  }